/**
* One Dark Kiwi IRC Theme
* @author Niek Visser <niek@bcome.nl>* 
*/

@import url('https://kiwiirc.com/nextclient/static/themes/common/layout.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
@import 'components/_colors',
        'components/_buttons',
        'components/_bufferheader',
        'components/_controlinput',
        'components/_input',
        'components/_channellist',
        'components/_container',
        'components/_messagelist',
        'components/_settings',
        'components/_sidebar',
        'components/_statebrowser',
        'components/_userbox',
        'components/_welcome';


.kiwi-wrap {
    font-family: 'Roboto', sans-serif;
    color: $term-fg;
    background-color: $term-bg;
    // --kiwi-nick-brightness: 40;
}

::selection, ::-moz-selection {
    color: $term-hl-fg;
    background-color: $term-hl-bg;
}

.kiwi-workspace:before {
}

.kiwi-workspace-background {
}

.kiwi-aboutnew-content, .kiwi-aboutnew {
    background: $term-bg;
}