/**
* One Dark Kiwi IRC Theme
* @author Niek Visser <niek@bcome.nl>* 
*/

@import 'https://kiwiirc.com/nextclient/static/themes/common/layout.css';

.kiwi-wrap {
    font-family: Source Sans Pro, Helvetica, sans-serif;
    color: #ccc;
}
.kiwi-wrap--monospace {
    font-family: Hack, Liberation Mono, Ubuntu Mono, Fira Mono, monospace;
}

.kiwi-workspace:before {
    /* The top bar at the top of the startup page */
}

.kiwi-workspace-background {
    background: #282C34;
}

.u-link {
    color: #8AE234;
}
.u-button {
    color: #2c3e50;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
    outline: none;
}
.u-button:hover {
    opacity: 0.75;
}
.u-button-primary {
    background-color: #8AE234;
    border: none;
    border-bottom: 1px solid #0DBC79;
    color: #393D45;
}
.u-button-secondary {
    /* background: rgba(117, 117, 117, 0.07); */
    /* border-bottom: 1px solid rgba(117, 117, 117, 0.2); */
    background-color: #8AE234;
    border-bottom: 1px solid #0DBC79;
    color: #393D45;
}
.u-button-warning {
    background-color: #ca3c3c;
    border-bottom: 1px solid #5f1515;
    color: #fff4f4;
}

.input-text {
    background: #fff;
}
.input-text-label {
    color: gray;
}
.input-text--focus {
    border-color: #0DBC79;
}
.input-text-underline {
    border-color: #a9a9a9;
}
.input-text-underline-active {
    background: #0DBC79;
}

.u-form .u-input,
.u-form textarea {
    border: 1px solid #cccccc;
    border-bottom: 2px solid #0DBC79;
    /* background: #ffffff; */
    background: #393D45;
    color: #ccc;
    outline-color: #0DBC79;
}

.u-tabbed-view-tabs {
    border-bottom: 1px solid #E5E5E5;
}
.u-tabbed-view-tab {
    border-color: #0DBC79;
    transition: border-width 0.1s;
    font-weight: bold;
}

.irc-fg-colour-white { color: #FFFFFF; }
.irc-fg-colour-black { color: #000000; }
.irc-fg-colour-blue { color: #2472C8; }
.irc-fg-colour-green { color: #0DBC79; }
.irc-fg-colour-light-red { color: #F14C4C; }
.irc-fg-colour-brown { color: #CD3131; }
.irc-fg-colour-purple { color: #BC3FBC; }
.irc-fg-colour-orange { color: #E5E510; }
.irc-fg-colour-yellow { color: #E3DA12; }
.irc-fg-colour-light-green { color: #8AE234; }
.irc-fg-colour-cyan { color: #008080; }
.irc-fg-colour-light-cyan { color: #11A8CD; }
.irc-fg-colour-light-blue { color: #2D6EBF; }
.irc-fg-colour-pink { color: #BC3EB3; }
.irc-fg-colour-grey { color: #393D45; }
.irc-fg-colour-light-grey { color: #e5e5e5; }

.irc-bg-colour-white { background-color: #FFFFFF; }
.irc-bg-colour-black { background-color: #000000; }
.irc-bg-colour-blue { background-color: #2472C8; }
.irc-bg-colour-green { background-color: #0DBC79; }
.irc-bg-colour-light-red { background-color: #F14C4C; }
.irc-bg-colour-brown { background-color: #CD3131; }
.irc-bg-colour-purple { background-color: #BC3FBC; }
.irc-bg-colour-orange { background-color: #E5E510; }
.irc-bg-colour-yellow { background-color: #E3DA12; }
.irc-bg-colour-light-green { background-color: #8AE234; }
.irc-bg-colour-cyan { background-color: #008080; }
.irc-bg-colour-light-cyan { background-color: #11A8CD; }
.irc-bg-colour-light-blue { background-color: #2D6EBF; }
.irc-bg-colour-pink { background-color: #BC3EB3; }
.irc-bg-colour-grey { background-color: #393D45; }
.irc-bg-colour-light-grey { background-color: #e5e5e5; }




/**
* State browser
*/

.kiwi-statebrowser {
    background: #282C34;
    /* this also looks cool, background: #05394a; */
    color: #cccccc;
}

.kiwi-statebrowser-usermenu {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255,255,255,0.15);
}
.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid red;
}
.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: green;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    border-left: 3px solid #df6b26;
    padding-left: 5px;
}

.kiwi-statebrowser-channel-label {
    background: green;
    color: #dedede;
}

.kiwi-statebrowser-channel-label-transition-enter-active, .kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}
.kiwi-statebrowser-channel-label-transition-enter, .kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}

.kiwi-statebrowser-newchannel-inputwrap {
    border-radius: 3px;
    background: #fff;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
}

.kiwi-statebrowser-options {
    background: #383838;
}




/**
* Container (Nicklist / header / control input wrapper)
*/

.kiwi-container {
    border-bottom: 1px solid #E3DADA;
}

.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    background: #393D45;
    border-bottom: 1px solid #E3DADA;
}
.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid #E3DADA;
}
.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid #E3DADA;
}
.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}



/**
* Sidebar
*/

.kiwi-sidebar {
    background-color: #282C34;
    border-left: 1px solid #E3DADA;
}

/**
 * Banlist
 */
 table.kiwi-channelbanlist-table > tr:hover > td {
     background: #393D45;
 }
 .kiwi-channelbanlist-table-actions > i {
     /* Hand cursor for the remove icon */
     cursor: pointer;
 }



/**
* Nicklist
*/

.kiwi-nicklist-info {
    border-color: #E5E5E5;
}



/**
* Buffer header (channel name + topic)
*/

.kiwi-header {
    border-bottom: 1px solid #E3DADA;
    background: #393D45;
}
.kiwi-header-topic {
    color: #5f5f5f;
}

.kiwi-messagelist-message-topic {
    margin-right: 0;
    text-align: left;
    white-space: nowrap;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #E3DADA;
}

/**
* Settings
*/
.kiwi-networksettings-advanced h3 {
    cursor: pointer;
}




/**
* Control input
*/

.kiwi-controlinput {
}
.kiwi-controlinput-inner {
}
.kiwi-controlinput-user {
    border-right: 1px solid #E3DADA;
}
.kiwi-controlinput-input-wrap {
    background: #393D45;
}
.kiwi-controlinput-selfuser {
    background: #393D45;
}
.kiwi-controlinput-active-tool {
    background: #393D45;
}



/**
* Control input (the bottom bar)
*/

.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid #CCC;
    background: #393D45;
}
.kiwi-autocomplete-item {
    border-bottom: 1px solid #CCC;
}
.kiwi-autocomplete-item--selected {
    background: #000000;
}



/**
* Message list
*/

.kiwi-messagelist-message {
    /* some message highlights add a left border so add a default invisble one to keep them inline */
    border-left: 3px solid transparent;
}
.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}
.kiwi-messagelist-message--highlight {
    background: #393D45;
    border-left-color: #0DBC79;
}
.kiwi-messagelist-message--hover {
}
.kiwi-messagelist-message--info-open {
    background: #f6f6f6;
}

.kiwi-messagelist-seperator {
    /* color: #ccc; */
}

.kiwi-messagelist-seperator span {
    background: #393D45;
    color: #ccc;
}
.kiwi-messagelist-seperator::after {
    content: "";
    display: block;
    border-bottom: 1px solid #11A8CD;
    position: relative;
    top: -.8em;
}

.kiwi-messagelist-message > div {
}

.kiwi-messagelist-time {
    color: #c1c1c1;
}

.kiwi-messagelist-message--compact .kiwi-messagelist-time {
    float: left;
}
.kiwi-messagelist-message--compact .kiwi-messagelist-nick:not([data-nick=""])::before {
    color: #393D45;
    content: '<';
}
.kiwi-messagelist-message--compact .kiwi-messagelist-nick:not([data-nick=""])::after {
    color: #393D45;
    content: '>';
}

.kiwi-messagelist-message-repeat .kiwi-messagelist-nick, .kiwi-messagelist-message-repeat .kiwi-messagelist-time {
    opacity: 1.0 !important;
}


.kiwi-messagelist-message-repeat {
    border-top: none;
}
.kiwi-messagelist-message-repeat .kiwi-messagelist-nick,
.kiwi-messagelist-message-repeat .kiwi-messagelist-time {
    /* Set the opacity instead of making it invisible so that it's still selectable when copying text */
    opacity: 0;
    cursor: default;
}

.kiwi-messagelist-message:not(.kiwi-messagelist-message--unread) + .kiwi-messagelist-message--unread {
}
.kiwi-messagelist-message--unread {
    border-left-color: #d4e5f1;
}
.kiwi-messagelist-message--unread:last-of-type::after {
    content: "Unread messages";
    font-style: italic;
    background: #393D45;
    display: block;
}

.kiwi-messagelist-body .kiwi-nick {
}

/* Topic changes */
.kiwi-messagelist-message-topic {
    /* background: #282C34; */
    /* border: 1px solid #393D45; */
    background: #282C34;
    border: 1px solid #393D45;
    border-radius: 5px;
}

.kiwi-messagelist-message-traffic-join {
    color: #009900;
}
.kiwi-messagelist-message-traffic-join .kiwi-nick:before {
    color: #009900;
    content: "→ ";
}
.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #900;
}
.kiwi-messagelist-message-traffic-quit .kiwi-nick:before,
.kiwi-messagelist-message-traffic-part .kiwi-nick:before, {
    color: #900;
    content: "← ";
}
.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #009900;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
}

/* Errors */
.kiwi-messagelist-message-error {
    background: #F14C4C;
    border-left-color: #CD3131;
}



/**
* Message list
*/

.kiwi-messageinfo {
    background: #f6f6f6;
    border-bottom: 2px #E3DADA solid;
    border-top: 1px #E3DADA dashed;
}
.kiwi-messageinfo-urls {
    border-top: 1px solid #E3DADA;
}



/**
* Network settings
*/

.kiwi-networksettings-danger h3 {
    background: #d86f6f;
}



/**
* Alias settings
*/
.kiwi-settings-aliases-input {
    border-color: #cccccc;
}
.kiwi-settings-aliases-help {
    background: #393D45;
    border: 1px dashed gray;
}
.kiwi-settings-aliases-help em {
    color: #ab1010;
    background: #fff6a5;
}



/**
* User box
*/

.kiwi-userbox {
    border: 1px solid #E3DADA;
    background: #393D45;
    transition: 0.2s top;
}
@media screen and (max-width: 500px) {
    .kiwi-userbox {
    }
}
.kiwi-userbox-usermask {
    color: #9e9e9e;
}
.kiwi-userbox-whois {
    background: #ffffff;
    color: #2c3e50;
    border: 1px dashed #9e9e9e;
}
.kiwi-userbox-whois-line {
}
.kiwi-userbox-actions-op {
    border-top: 1px solid #9e9e9e;
}



/**
* Welcome startup screen
*/

.kiwi-welcome-simple-start[disabled] {
    opacity: 0.65;
}



