/**
* One Dark Kiwi IRC Theme
* @author Niek Visser <niek@bcome.nl>* 
*/

@import 'https://kiwiirc.com/nextclient/static/themes/common/layout.css';
@import 'components/_bufferheader',
        'components/_buttons',
        'components/_channellist',
        'components/_colors',
        'components/_container',
        'components/_controlinput',
        'components/_input',
        'components/_messagelist',
        'components/_settings',
        'components/_sidebar',
        'components/_statebrowser',
        'components/_userbox',
        'components/_welcome';


.kiwi-wrap {
    color: #2c3e50;
    --kiwi-nick-brightness: 40;
}

.kiwi-workspace:before {
}

.kiwi-workspace-background {
    background: #fff;
}