/**
* Buffer header (channel name + topic)
*/

.kiwi-header {
    border-bottom: 1px solid #dddddd;
    background: $col-01;
}
.kiwi-header-topic {
    color: $term-fg;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #dddddd;
}