/**
* Buffer header (channel name + topic)
*/

.kiwi-header {
    border-bottom: 1px solid #dddddd;
    background: #fff;
}
.kiwi-header-topic {
    color: #5f5f5f;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #dddddd;
}