/**
* Buffer header (channel name + topic)
*/

.kiwi-header {
    border-bottom: 1px solid #E3DADA;
    background: #393D45;
}
.kiwi-header-topic {
    color: #5f5f5f;
}

.kiwi-messagelist-message-topic {
    margin: 18px;
    text-align: left;
    white-space: nowrap;
}

.kiwi-header-buffersettings {
    border-top: 1px solid #E3DADA;
}