/**
* Control input
*/

.kiwi-controlinput {
}
.kiwi-controlinput-inner {
}
.kiwi-controlinput-active-tool {
    background: $col-01;
}
.kiwi-controlinput-user {
    border-right: 1px solid $col-00;
}
.kiwi-controlinput-input-wrap {
    background: $col-01;
}



/**
* Control input (the bottom bar)
*/
.kiwi-autocomplete-item--selected {
    background: $col-01;
}
.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid $col-00;
    background: $col-01;
}
.kiwi-autocomplete-item {
    background: $col-01;
    border-bottom: 1px solid $col-00;
}
.kiwi-autocomplete-item--selected {
    background: $term-bg;
}

.kiwi-autocomplete-item {
    cursor: pointer;
}