/**
* Control input
*/

.kiwi-controlinput {
}
.kiwi-controlinput-inner {
}
.kiwi-controlinput-user {
    border-right: 1px solid #dddddd;
}
.kiwi-controlinput-input-wrap {
    background: $col-01;
}



/**
* Control input (the bottom bar)
*/
.kiwi-autocomplete-item--selected {
    background: $col-01;
}
.kiwi-autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid #CCC;
    background: $col-01;
}
.kiwi-autocomplete-item {
    border-bottom: 1px solid #CCC;
}
.kiwi-autocomplete-item--selected {
    background: #D1EACD;
}