/**
* Container (Nicklist / header / control input wrapper)
*/

.kiwi-container {
    border-bottom: 1px solid #dddddd;
}

.kiwi-container-toggledraw-statebrowser,
.kiwi-container-toggledraw-sidebar {
    background: #fff;
    border-bottom: 1px solid #dddddd;
}
.kiwi-container-toggledraw-statebrowser {
    border-right: 1px solid #dddddd;
}
.kiwi-container-toggledraw-sidebar {
    border-left: 1px solid #dddddd;
}
.kiwi-container-toggledraw-sidebar--disabled {
    color: #b8babd;
}