a, .u-link {
    color: $col-03;
    &:hover {
        color: darken($col-03, 20%);
    }
}
.u-button {
    color: $col-01;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
    outline: none;
}
.u-button:hover {
    opacity: 0.75;
}
.u-button-primary {
    background-color: $col-03;
    border: none;
    border-bottom: 1px solid darken($col-03, 20%);
    color: #fff;
}
.u-button-secondary {
    background: rgba(117, 117, 117, 0.07);
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.u-button-warning {
    background-color: $col-04;
    border-bottom: 1px solid darken($col-04, 20%);
    color: #fff4f4;
}

input, textarea {
    background: $term-bg;
    color: $term-fg;
    border: 0;
    font-family: Hack, 'Liberation Mono', 'Roboto Mono', monospace;
}
label input, label textarea {
    border-bottom: 1px solid $col-00;
    padding-bottom: 1px;
    &:focus {
        padding-bottom: 0;
        border-bottom: 2px solid $col-03;
    }
}
.input-text-label {
    color: $term-fg;
}
.input-text--focus {
    border-color: $col-03;
}
.input-text-underline {
    border-color: $col-00;
}
.input-text-underline-active {
    background: $col-03;
}

.u-form .u-input {
    border-bottom: 2px solid $col-03;
    background: $term-bg;
    color: $term-fg;
    outline-color: $col-03;
}

.u-tabbed-view-tabs {
    border-bottom: 1px solid $col-00;
}
.u-tabbed-view-tab {
    border-color: $col-03;
    transition: border-width 0.1s;
    font-weight: bold;
}