/**
* Message list
*/

.kiwi-messagelist-message {
    border-top: 1px solid #f7f5f5;
    /* some message highlights add a left border so add a default invisble one to keep them inline */
    border-left: 3px solid transparent;
}
.kiwi-messagelist-message--modern {
    border-left: 7px solid transparent;
}
.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
    margin: 18px;
}
.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}
.kiwi-messagelist-message--highlight {
    background: #e3f1d4;
    border-left-color: #80ab52;
}
.kiwi-messagelist-message--hover {
    background: #e3f1d4;
    border-left-color: #80ab52;
}
.kiwi-messagelist-message--info-open {
    background: #f6f6f6;
}

.kiwi-messagelist-message > div {
}

.kiwi-messagelist-time {
    color: #a5a5a5;
}


.kiwi-messagelist-message-repeat {
    border-top: none;
}
.kiwi-messagelist-message-repeat .kiwi-messagelist-nick,
.kiwi-messagelist-message-repeat .kiwi-messagelist-time {
    /* Set the opacity instead of making it invisible so that it's still selectable when copying text */
    opacity: 0;
    cursor: default;
}

.kiwi-messagelist-message:not(.kiwi-messagelist-message--unread) + .kiwi-messagelist-message--unread {
}
.kiwi-messagelist-message--unread {
    border-left-color: #d4e5f1;
}

.kiwi-messagelist-seperator:after {
    border-color: #ddd;
}
.kiwi-messagelist-seperator + .kiwi-messagelist-message {
    border-top: none;
}

.kiwi-messagelist-body .kiwi-nick {
}

/* Topic changes */
.kiwi-messagelist-message-topic {
    background: #FFF5AB;
    border: 1px solid #F3C572;
    border-radius: 5px;
}

.kiwi-messagelist-message-traffic-join {
    color: #009900;
}
.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: #900;
}
.kiwi-messagelist-message-traffic-quit .kiwi-nick:before,
.kiwi-messagelist-message-traffic-part .kiwi-nick:before, {
    color: #900;
    content: "← ";
}
.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: #009900;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: #666;
}

/* Errors */
.kiwi-messagelist-message-error {
    background: #f1d4d4;
    border-left-color: #ab5252;
}

/**
* Message list
*/

.kiwi-messageinfo {
    background: #f6f6f6;
    border-bottom: 2px #dddddd solid;
    border-top: 1px #dddddd dashed;
}
.kiwi-messageinfo-urls {
    border-top: 1px solid #dddddd;
}