/**
* Message list
*/

.kiwi-wrap--monospace .kiwi-messagelist {
    font-family: Hack, 'Liberation Mono', 'Roboto Mono', monospace;
}

.kiwi-messagelist-message {
    // border-top: 1px solid #f7f5f5;
    /* some message highlights add a left border so add a default invisble one to keep them inline */
    border-left: 3px solid transparent;
}
.kiwi-messagelist-message--modern {
    border-left: 7px solid transparent;
}
.kiwi-messagelist-message--modern.kiwi-messagelist-message-topic {
    margin: 18px;
}
.kiwi-messagelist-message-whois {
    border-left-color: #939393;
}
.kiwi-messagelist-message--highlight {
    background: $term-bg;
    border-left-color: $col-03;
}
.kiwi-messagelist-message--hover {
    background: $col-01;
    border-left-color: $col-03;
}
.kiwi-messagelist-message--info-open {
    background: #f6f6f6;
}

.kiwi-messagelist-message > div {
}

.kiwi-messagelist-time {
    color: #a5a5a5;
}


.kiwi-messagelist-message-repeat {
    border-top: none;
}
.kiwi-messagelist-message-repeat .kiwi-messagelist-nick,
.kiwi-messagelist-message-repeat .kiwi-messagelist-time {
    /* Set the opacity instead of making it invisible so that it's still selectable when copying text */
    opacity: 0;
    cursor: default;
}

.kiwi-messagelist-message:not(.kiwi-messagelist-message--unread) + .kiwi-messagelist-message--unread {
}
.kiwi-messagelist-message--unread {
    border-left-color: $col-11;
}

.kiwi-messagelist-seperator:after {
    border-color: $col-00;
}
.kiwi-messagelist-seperator span {
    background: $col-01;
    color: $term-fg;
}
.kiwi-messagelist-seperator + .kiwi-messagelist-message {
    border-top: none;
}

.kiwi-messagelist-body .kiwi-nick {
}

/* Topic changes */
.kiwi-messagelist-message-topic {
    background: lighten($term-bg, 5%);
    border: 1px solid $term-bg;
    border-radius: 5px;
}

.kiwi-messagelist-message-traffic-join {
    color: $col-03;
}
.kiwi-messagelist-message-traffic-quit,
.kiwi-messagelist-message-traffic-part,
.kiwi-messagelist-message-traffic-kick {
    color: $col-04;
}
.kiwi-messagelist-message-traffic-quit .kiwi-nick:before,
.kiwi-messagelist-message-traffic-part .kiwi-nick:before, {
    color: $col-04;
    content: "← ";
}
.kiwi-messagelist-message-action .kiwi-messagelist-body {
    color: $col-03;
}

/* MOTD */
.kiwi-messagelist-message-motd {
    color: $term-fg;
}

/* Errors */
.kiwi-messagelist-message-error {
    background: lighten($col-04, 20%);
    border-left-color: $col-04;
    color: $term-bg;
}

/**
* Message list
*/

.kiwi-messageinfo {
    background: $col-00;
    color: $col-01;
    border-bottom: 2px darken($col-00, 20%) solid;
    border-top: 1px darken($col-00, 20%) dashed;
}
.kiwi-messageinfo-urls {
    border-top: 1px solid darken($col-00, 20%);
}