/**
* Network settings
*/

.kiwi-networksettings-error {
    border: 1px dashed lighten($col-04, 20%);
}
.kiwi-networksettings-danger h3 {
    background: $col-04;
}

.kiwi-networksettings-advanced h3 {
    cursor: pointer;
}


/**
* Alias settings
*/
.kiwi-settings-aliases-input {
    border-color: $col-00;
}
.kiwi-settings-aliases-help {
    background: $col-01;
    border: 1px dashed $col-00;
}
.kiwi-settings-aliases-help em {
    color: #ab1010;
    background: #fff6a5;
}