/**
* Sidebar
*/

.kiwi-sidebar {
    background-color: $col-01;
    border-left: 1px solid $col-00;
}



/**
* Nicklist
*/

.kiwi-nicklist-info {
    border-color: #ddd;
}

.kiwi-channelbanlist table tr:nth-child(even) {
    background-color: $term-bg;
}
.kiwi-channelbanlist-table-actions i.fa {
    cursor: pointer;
}