/**
* Sidebar
*/

.kiwi-sidebar {
    background-color: #282C34;
    border-left: 1px solid #E3DADA;
}

/**
 * Banlist
 */
 table.kiwi-channelbanlist-table > tr:hover > td {
     background: #393D45;
 }
 .kiwi-channelbanlist-table-actions > i {
     /* Hand cursor for the remove icon */
     cursor: pointer;
 }



/**
* Nicklist
*/

.kiwi-nicklist-info {
    border-color: #E5E5E5;
}