/**
* State browser
*/

.kiwi-statebrowser {
    background: #2a2c23;
    /* this also looks cool, background: #05394a; */
    color: #e0e0e0;
}

.kiwi-statebrowser-divider {
    background: rgba(255,255,255,0.3);
    margin: 8px 12px;
    height: 1px;
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255,255,255,0.15);
}
.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid red;
}
.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: green;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: #d03232;
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: #df6b26;
}

.kiwi-statebrowser-channel-label {
    background: green;
    color: #dedede;
}
.kiwi-statebrowser-channel-label--highlight {
    background: #d62323;
}

.kiwi-statebrowser-channel-label-transition-enter-active, .kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}
.kiwi-statebrowser-channel-label-transition-enter, .kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-popup {
    background: #383838;
    border: 3px solid #6b6b6b;
    border-left: none;
}

.kiwi-statebrowser-newchannel-inputwrap {
    border-radius: 3px;
    background: #fff;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
}

.kiwi-statebrowser-options {
    background: #383838;
}