/**
* State browser
*/

.kiwi-statebrowser {
    background: $col-01;
    color: $term-fg;
}

.kiwi-statebrowser-divider {
    background: rgba(255,255,255,0.3);
    margin: 8px 12px;
    height: 1px;
}

.kiwi-statebrowser-availablenetworks {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.kiwi-statebrowser-availablenetworks-toggle {
    background: rgba(255,255,255,0.15);
}
.kiwi-statebrowser-availablenetworks-link {
    border-right: 15px solid $col-04;
}
.kiwi-statebrowser-availablenetworks-link--connected {
    border-color: $col-03;
}

.kiwi-statebrowser-channel-notjoined .kiwi-statebrowser-channel-name {
    color: darken($term-fg, 25%);
}
.kiwi-statebrowser-channel-active .kiwi-statebrowser-channel-name {
    color: $term-fg;
}

.kiwi-statebrowser-channel-label {
    background: $col-03;
    color: $term-bg;
}
.kiwi-statebrowser-channel-label--highlight {
    background: $col-04;
}

.kiwi-statebrowser-channel-label-transition-enter-active, .kiwi-statebrowser-channel-label-transition-leave-active {
    transition: opacity 0.1s;
}
.kiwi-statebrowser-channel-label-transition-enter, .kiwi-statebrowser-channel-label-transition-leave-active {
    opacity: 0;
}

.kiwi-statebrowser-channel-popup {
    background: $col-01;
    border: 3px solid $col-00;
    border-left: none;
}

.kiwi-statebrowser-newchannel-inputwrap {
    border-radius: 3px;
    background: $term-bg;
    position: relative;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.kiwi-statebrowser-newchannel-inputwrap--focus {
    opacity: 1;
}

.kiwi-statebrowser-options {
    background: $term-bg;
}