/**
* User box
*/

.kiwi-userbox {
}
.kiwi-userbox-usermask {
    color: $term-fg;
}
.kiwi-userbox-whois {
    background: $term-bg;
    color: $term-fg;
    border: 1px dashed $col-00;
}
.kiwi-userbox-whois-line {
}
.kiwi-userbox-actions-op {
    border-top: 1px solid $col-00;
}


/**
* Self user box
*/
.kiwi-selfuser-actions {
    border-top: 1px solid $col-00;
}
.kiwi-controlinput-selfuser {
    background: $term-bg;
    border: 1px solid $col-00;
}